
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_admin.cshtml";
}


<link href="~/Scripts/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<!-- Button -->
<div class="card-body">
    <input type="text" id="txtid_emoresa" name="name" hidden="" value="@ViewBag.Id_empresa" />
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#AgregarProdudctto">
        <i class="fas fa-newspaper"></i> Nuevo Producto
    </button>
    <button class="btn btn-success" type="button" id="btnModificar" >Modificar </button>
</div>

<!-- Modal Register -->
<div class="modal fade" id="AgregarProdudctto" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conductor</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">Imagen Producto</div>
                            <div class="card-body text-center">
                                <img class="borrar" id="imgFoto" width="100" height="100" style="border: 1px solid" />
                                <div class="small font-italic text-muted mb-4">Recomendación 300x300</div>
                                <div class="form-group">
                                    <input type="file" class="borrar form-control" id="fileToUpload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card mb-4">
                            <div class="card-header">Datos Producto</div>
                            <div class="card-body">
                                <form action="/" method="post">


                                    <div class="form-group">
                                        <label>Nombre Producto</label>
                                        <input class="borrar form-control" id="nombre_producto" type="text" placeholder="Nombre">
                                    </div>
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <input class="borrar form-control" id="descripcion_producto" type="text" placeholder="Descripcion">
                                    </div>
                                    <div class="form-group">
                                        <label>Precio</label>
                                        <input class="borrar form-control" id="precio_producto" type="number" placeholder="Precio">
                                    </div>
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input class="borrar form-control" id="stock_producto" type="text" placeholder="Cantidad">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnSave" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">PRODUCTOS</h6>
    </div>
    <div class="card-body">

        <table id="tabla" class="table">
            <thead>
                <tr>

                    <th style="display:none;">id</th>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Estado</th>
                    <th style="display:none;">Foto</th>

                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<!--  Modal Mensaje-->

<div class="modal fade" id="ModalCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <lottie-player src="https://assets7.lottiefiles.com/datafiles/7aeDjIq0a63VZGd/data.json" background="transparent" speed="1" style="width: 250px; height: 250px;margin-left:20% "  autoplay></lottie-player>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Enviar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar a</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <img id="imgfoto" alt="Alternate Text" width="200" height="200" />
                        <input type="text" id="idpro" hidden="" name="name" value="" />
                        <input type="text" id="nopro" hidden="" name="name" value="" />
                        <input type="text" id="depro" hidden="" name="name" value="" />
                        <input type="text" id="prepro" hidden="" name="name" value="" />
                        <input type="text" id="rupro" hidden="" name="name" value="" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Seccion:</label>
                        <select class="custom-select my-1 mr-sm-2" id="id_seccion">
                            <option selected>-Seleccione-</option>
                            <option value="Abarrotes">Abarrotes</option>
                            <option value="Farmacia">Farmacia</option>
                            <option value="Ropa">Ropa</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Tipo:</label>
                        <select class="custom-select my-1 mr-sm-2" id="id_tipo">
                            <option selected>-Seleccione-</option>
                            <option value="Menestras">Menestras</option>
                            <option value="Aceites">Aceites</option>
                            <option value="Polos">Polos</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnPublicar" class="btn btn-primary">Publicar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/js/jquery-3.4.1.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>


<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/js/datatables-demo.js"></script>
<script src="~/Scripts/js/lottie-player.js"></script>

<script>
    var id_producto;
    var nombre_producto;    
    var descripcion_producto;
    var precio_producto;
    var ruta_foto;


    $(document).ready(function () {
        listaProductos();
    });

    function listaProductos() {

        $.ajax({
            type: "GET",
            url: '/Productos/Get_Productos/',
            contentType: "application/json",
            success: function (data) {
              
                var rows = '';
                var numero = 1;
             
                $.each(data, function (i, item) {
                    var span = '';
                   
                    if (item.verificado == "false") {
                        span = "<span class='badge badge-danger'>No Verificado</span>";
                    }
                    if (item.verificado == "true") {
                        span = "<span class='badge badge-success'>Verificado</span>";
                    }
                    console.log(item.estado_producto);
                    rows += "<tr>"
                    rows += "<td style='display:none;'>" + item.id_producto + "</td>"
                    rows += "<td>" + numero + "</td>"
                    rows += "<td>" + item.nombre_producto + "</td>"
                    rows += "<td>" + item.descripcion_producto + "</td>"
                    rows += "<td>" + item.precio_producto + "</td>"
                    rows += "<td>" + item.stock_producto + "</td>"
                    rows += "<td>" + span+ "</td>"
                   
                    rows += "<td style='display:none;' >" + item.ruta_foto_producto + "</td>"
                    rows += "<td> <button type='button' id='btnVer' class='btn btn-primary'  onClick='addRowHandlers()'>Ver</button> <button type='button' id='btnDelete' class='btn btn-danger' onClick='addRowHandlers()' >Enviar</button></td>"
                    rows += "</tr>";
                    $("#tabla tbody").html(rows);
                    numero++;
                });
            }

        })
    }


    $("#btnSave").click(function () {

        if (window.FormData == undefined)
            alert("Error: FormData is undefined");

        else {
            // para los productos
            var fileUpload = $("#fileToUpload").get(0);
            var nombre_producto = $("#nombre_producto").val();
            var descripcion_producto = $("#descripcion_producto").val();
            var precio_producto = $("#precio_producto").val();
            var stock_producto = $("#stock_producto").val();

            var files = fileUpload.files;
            var fileData = new FormData();

            fileData.append(files[0].name, files[0]);
            fileData.append("nombre_producto", nombre_producto);
            fileData.append("descripcion_producto", descripcion_producto);
            fileData.append("precio_producto", precio_producto);
            fileData.append("stock_producto", stock_producto);

            
            $.ajax({
                url: '/Productos/CreateProducto',
                type: 'post',
                datatype: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: fileData,
                success: function (response) {
                    listaProductos();
                    $("#AgregarProdudctto").modal('hide');             

                    $("#ModalCheck").modal("show");
                 //   listaProductos();

                },
                error: function (xhr, status) {
                    alert('Disculpe, existió un problema');
                },
            });
        }

    });

    function Enviar(ruta_foto) {
        $("#Modal_Enviar").modal("show");
        var ruta =String(ruta_foto);
      //  alert(ruta);
        $('#imgfoto').attr("src", ruta);
     

    }
    function addRowHandlers() {
        var table = document.getElementById("tabla");
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler =
                function (row) {
                    return function () {
                        var cel0 = row.getElementsByTagName("td")[0]; 
                        var cel2 = row.getElementsByTagName("td")[2]; 
                        var cel3 = row.getElementsByTagName("td")[3]; 
                        var cel4 = row.getElementsByTagName("td")[4];
                        var cel6 = row.getElementsByTagName("td")[7];  
                        
                        var UrlFoto = cel6.innerHTML;
                        $("#idpro").val(cel0.innerHTML);
                        $("#nopro").val(cel2.innerHTML);
                        $("#depro").val(cel3.innerHTML);
                        $("#prepro").val(cel4.innerHTML);
                        $("#rupro").val(cel6.innerHTML);
                        ruta_foto=cel6.innerHTML;
                        Enviar(UrlFoto) 
                      

                    };
                };

            currentRow.onclick = createClickHandler(currentRow);
        }
    }
    window.onload = addRowHandlers();

    $("#btnPublicar").click(function () {

        var seccion = $("#id_seccion").val();
        var ti = $("#id_tipo").val();

        var data = {
            id_producto: $("#idpro").val(),
            nombre_producto: $("#nopro").val(),
            precio_producto: $("#prepro").val(),
            descripcion_producto: $("#depro").val(),
            Seccion: seccion,
            tipo: ti,
            ruta_foto: $("#rupro").val()
        }
        
            $.ajax({
                url: '/Productos/Publicar/',
                type: 'post',
                datatype: 'json',              
         
                data: data,
                success: function (response) {
                    listaProductos();
                    //$("#AgregarProdudctto").modal('hide');
                    alert("Publicado")
                    $("#Modal_Enviar").modal("hide");
                    //   listaProductos();

                },
                error: function (xhr, status) {
                    alert('Disculpe, existió un problema');
                },
            });
        

    });

    $("#btnModificar").click(function () {


        $.ajax({
            url: '/Productos/Modificar/',
            type: 'post',
            datatype: 'json',          
            success: function (response) {
                //  listaProductos();
                //$("#AgregarProdudctto").modal('hide');
                alert("Publicado")
                //  $("#Modal_Enviar").modal("show");
                //   listaProductos();

            },
            error: function (xhr, status) {
                alert('Disculpe, existió un problema');
            },
        });


    });



</script>