
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>esto es lo que hizo la Rama 1</h3>
<h3>mas contendo de la rama 1</h3>
<h3>mas contendo de la rama 1</h3>
<h3>mas contendo de la rama 1</h3>
<h3>mas contendo de la rama 1</h3>
