
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_admin.cshtml";
}


<link href="~/Scripts/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<!-- Button -->
<h3>Bienvenido</h3>


<script src="~/Scripts/js/jquery-3.4.1.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>


<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/js/datatables-demo.js"></script>

